:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background: var(--Grayish-blue);
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card-qr {
    background-color: var(--White);
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
}

.card-qr img {
    border-radius: 10px 5%;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
}

h5 {
    text-align: center;
    color: var(--Grayish-blue);
    font-size: 14px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}